
@import '_Color.scss';

$width: (50%, 75%, 100%);

* {
	margin:0;
	padding:0;
}
html {
	position: relative;
    min-height: 100%;
}
#bootstrap-overrides {
    margin-bottom: 60px;
	background: #fff;
	color: $Darkgrey; 
	font-size: 16px;
	font-family: "PT Sans",sans-serif;	 
	
	#wrapper {
	}

	header {
		width: 100%;
		.navbar-header {
			margin: 0 20px;
		}

		nav {
			background: $Lightwhite;
			li {
				margin: 0 20px;
				a {
					font-size: 17px;
					color: $Darkgrey;
				}
			}
			.navbar-nav {
				.active { 
					a {
						color: #fff;
						background: $Darkgreen;
					}
				} 
				.open {
					.dropdown-toggle{ 
						color: #fff;
						background: $Darkgreen;
					}
				}
				.dropdown-menu {
					min-width: 84px;
				}
			} 
		}
	}

	#main {
		margin-bottom:500px;
		#front-up {
			width: nth($width, 3);
			ul {
				li {
					display: inline-block;
					width: 49%;
					aside {

					}
				}
			}	
		}
		.align {
			display: inline-block; 
			vertical-align: top;
		}
		#front-middle {
			.products {
				margin: 10px 20px;
				img {
					width: 100px;
					height: 100px;
				}
				input[type='button'] {
					width: 100%;
					height: 30px;
				}
			}
			p {
				width: nth($width, 2);
				text-align: left;
			}
		}
	}
	.footer {
		left: 0;
		bottom: 0;
		position: absolute;
		width: 100%;
		background:$Lightwhite;
		ul {
			display: inline-block;
			margin: 0 50px;
			li {
				list-style:none;
			}
		}

		.text-muted {
			margin: 10px 0;
			text-align: center
		}
	}
}