* {
  margin: 0;
  padding: 0; }

html, #bootstrap-overrides {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  color: #4E5659;
  font-size: 16px;
  font-family: "PT Sans",sans-serif; }
  html #wrapper, #bootstrap-overrides #wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden; }
  html header, #bootstrap-overrides header {
    width: 100%; }
    html header nav, #bootstrap-overrides header nav {
      background: #E0F3A2; }
      html header nav a, #bootstrap-overrides header nav a {
        color: #4E5659; }
      html header nav .navbar-nav .active a, #bootstrap-overrides header nav .navbar-nav .active a {
        color: #fff;
        background: #627A14; }
      html header nav .navbar-nav .open .dropdown-toggle, #bootstrap-overrides header nav .navbar-nav .open .dropdown-toggle {
        color: #fff;
        background: #627A14; }
      html header nav .navbar-nav .dropdown-menu, #bootstrap-overrides header nav .navbar-nav .dropdown-menu {
        min-width: 84px; }
  html content #inner-wrapper, #bootstrap-overrides content #inner-wrapper {
    margin: 0 0 100px 0; }
    html content #inner-wrapper #front-up, #bootstrap-overrides content #inner-wrapper #front-up {
      width: 100%; }
      html content #inner-wrapper #front-up ul li, #bootstrap-overrides content #inner-wrapper #front-up ul li {
        display: inline-block;
        width: 49%; }
  html content .align, #bootstrap-overrides content .align {
    display: inline-block;
    vertical-align: top; }
  html content #front-middle .products, #bootstrap-overrides content #front-middle .products {
    margin: 10px 20px; }
    html content #front-middle .products img, #bootstrap-overrides content #front-middle .products img {
      width: 100px;
      height: 100px; }
    html content #front-middle .products input[type='button'], #bootstrap-overrides content #front-middle .products input[type='button'] {
      width: 100%;
      height: 30px; }
  html content #front-middle p, #bootstrap-overrides content #front-middle p {
    width: 75%;
    text-align: left; }
  html .footer, #bootstrap-overrides .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #E0F3A2;
    padding: 15px 0; }
    html .footer p, #bootstrap-overrides .footer p {
      margin: 0; }
